.mid{
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    /* width: 80%;  */
    margin-top: 20px; 
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.valider {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50px;
    
    text-decoration: none;
}

.valider:hover {
    background-color: darkgreen;
}
.retour {
    background-color: rgb(128, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 550px;
    margin-bottom: 50px;
    border-radius: 50px;
    text-decoration: none;
}

.retour:hover {
    background-color: rgb(100, 0, 0);
}

.boite_centre {
    text-align: center;
    margin-top: 20px; 
}

.sepa_bouton_index{
    align-content: end;
    margin-top: 50px;
}

